.gloss-text {
    color: var(--muted-color);
    height: 1.4em;
}

.gloss-em {
    color: var(--accent);
    font-style: italic;
}

.gloss-translation {
    margin-block-start: 0em;
    font-style: italic;
}

.gloss-abbr {
    font-variant: small-caps;
    text-underline-offset: 4px;
}

.gloss-ex {
    font-weight: bold;
    margin-bottom: 0.2em;
    margin-top: 10px;
}

.gloss-lbl {
    margin-bottom: 0.5em;
}

.gloss-div {
    position: relative;
}

.gloss-div:has(.gloss-translation) {
    margin-bottom: 1em;
}

.gloss-marker-number {
    position: absolute;
    user-select: none;
    left: 0;
    color: var(--muted-color);
}

.gloss-marker {
    margin-left: 40px;
}

.table-overflow.inflection th,
.table-overflow.inflection td {
     border: 0;
}

.table-overflow.inflection th {
    text-align: center;
    background: #8881;
    min-width: 72px;
}

.table-overflow.inflection.large th {
    text-align: center;
    background: #8881;
    min-width: 96px;
}